<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="Video Boost Auto ON"
        android:hasCode="true">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Force Video Boost always ON for User 10" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
    </application>
</manifest>
